        <nav class="site">
            <ul class="pages">
            {% for nav_page in site.pages %}
                {% if nav_page.main  == true %}
                <li><a href="{{ nav_page.url }}">{{ nav_page.title }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
                        
            <ul class="categories">
            {% for category in site.categories %}
                <li><a href="/{{ category | first | downcase }}">{{ category | first | capitalize | replace: '-',' ' }}</a></li>
            {% endfor %}
            </ul>
            
            <ul class="social">
            {% for social in site.data.social %}
                <li>
                    <a href="{{ social.url }}">
                        <svg class="icon icon-{{ social.name | slugify }}">
                            <use xlink:href="{{ site.imgurl }}/icons.svg#icon-{{ social.name | slugify }}"></use>
                        </svg>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </nav>

        <footer class="footer">
            <div class="copyright">
                <a href="/license">&copy; 2006&ndash;{{ 'now' | date: "%Y" }} Adam Hobson</a>
            </div>
                
            <div class="feeds">
                <a href="/feed.xml">
                    <svg class="icon icon-feed"><use xlink:href="{{ site.imgurl }}/icons.svg#icon-feed"></use></svg>
                </a>
            </div>
        </footer>
