/* Site Header
 *****************************************************************************/
header.masthead {
    height: $vertical-unit * 3;
    padding: 0 $horizontal-unit * 3;
    overflow: hidden;
    position: relative;
    
    h1 {
        float: left;
        margin: 0;
        text-transform: uppercase;
        line-height: $vertical-unit * 3;
        font-size: $base-font-size * 2;
        
        a {
            color: $text-color;

            &:active,
            &:hover {
                color: $brand-color-dark;

                .icon-adam-hobson {
                    animation-name: rotate;
                    animation-duration: 30s;
                    animation-iteration-count: infinite;
                    transform-origin: 50% 50%;
                }
                @keyframes rotate {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }        
    }
    
    span {
        vertical-align: middle;
    }

    .icon-adam-hobson {
        font-size: $base-font-size * 3;
    }

    .first {
        @include modern-type;
    }
    
    h2 {
        position: absolute;
        top: $vertical-unit;
        right: $horizontal-unit * 3;
        @include modern-type;
        font-size: $base-font-size;

        @media screen and (min-width: $horizontal-unit * 38) {
            left: $horizontal-unit * 26;
        }

        @media screen and (max-width: $horizontal-unit * 26) {
            top: 54px;
            left: 139px;
            font-size: 15px;
        }
    }
}

/* Site Navigation
 *****************************************************************************/
nav.site {
    padding: $vertical-unit $horizontal-unit * 3 0;
    background-color: $grey-color;
    background-image:
      linear-gradient(
        to top right, 
        $grey-color, lighten($grey-color, 10%)
      );
    overflow: hidden;
    clear: both;
    
    a {
        color: $background-color;

        &:active,
        &:hover {
            color: $grey-color-light;
        }
    }
}

@media screen and (min-width: $horizontal-unit * 32) {
    .home {
        nav.site {
            width: $horizontal-unit * 4;
            padding: $vertical-unit 0;
            background-color: $background-color;
            background-image: none;
            clear: none;
                
            a {
                color: $text-color;

                &:active,
                &:hover {
                    color: $brand-color;
                }
            }
        }
    }
}

.pages,
.categories {
    width: $horizontal-unit * 4;
    margin-right: $horizontal-unit;
    float: left;
    @include modern-type;
}

.social {
    float: left;
    font-size: $vertical-unit * 3;

    li {
        width: $horizontal-unit * 3;
        float: left;
        overflow: hidden;
    }   
}

/* Site Footer
 *****************************************************************************/
footer.footer {
    height: $vertical-unit * 2;
    padding: 0 $horizontal-unit * 3;
    line-height: $vertical-unit * 2;
    clear: both;
    background-color: $grey-color-dark;
    font-family: $sans-font-family;
    font-weight: 900;
    
    a {
        color: $grey-color-light;
        
        &:active,
        &:hover {
            color: $background-color;
        }
    }
}

.copyright {
    float: left;
}

.feeds {
    float: right;
}

/* Post(s)
 *****************************************************************************/
article {
    margin-bottom: $vertical-unit;

    .category,
    time {
        @include modern-type;
    }
            
    h1 em {
        font-style: normal;
        font-weight: 300;
    }

    img.thumb {
        height: $vertical-unit * 5;
        width: $horizontal-unit * 4;
        float: left;
        margin-right: $horizontal-unit / 2;
    }

    footer {
        margin: $vertical-unit * 2 0;
        overflow: hidden;
        clear: both;

        h2 {
            @include modern-type;
        }
    }
}

.long-summary {
    clear: both;
    overflow: hidden;
}

.short-summary {
    width: 100%;
    margin: $vertical-unit / -2 $horizontal-unit / -2 0;
    padding: $vertical-unit / 2 $horizontal-unit / 2;

    a {
        color: $text-color;

        &:active,
        &:hover {
            color: $brand-color-dark;
        }
    }

    h1 {
        margin-bottom: 0;
        overflow: hidden;
        font-size: $base-font-size;
    }

    .category,
    time {
        font-size: $small-font-size;
    }

    img.thumb {
        height: $vertical-unit * 2;
        width: $vertical-unit * 2;
        margin-right: $vertical-unit / 2;
        position: relative;
        top: 6px;
    }

    &:active,
    &:hover {
        background-color: #f5f5f5;

        a {
            color: $brand-color;

            &:active,
            &:hover {
                color: $brand-color-dark;
            }
        }
    }

    @media screen and (min-width: $horizontal-unit * 27) {
        width: calc(50% - #{$horizontal-unit / 2});
        height: $vertical-unit * 4;
        float: left;

        &:nth-child(odd) {
            margin-left: 0;
        }

        &:nth-child(even) {
            margin-right: 0;
        }
    }
}

.read-more {
    @include modern-type;
    white-space: nowrap;
}

.more-posts {
    font-family: $sans-font-family;
    font-weight: 900;
    letter-spacing: 1px;
}

.siblings {
    width: 45%;
    float: right;
}

.related {
    width: 45%;
    float: left;
}

.siblings em,
.related em {
    font-style: normal;
}

/* Post Body
 *****************************************************************************/
.body {
    a:active,
    a:hover {
        margin: -1px -2px;
        padding: 1px 2px;
        background-color: $brand-color-light;
        border-radius: 3px;
    }
    
    ol,
    ul {
        max-width: $horizontal-unit * 19;
        margin-left: $horizontal-unit;
    }

    ul {
        list-style: square;
    }

    figure {
        text-align: center;

        &.center {
            margin: auto;
            float: none;
            clear: both;
        }

        &.left {
            margin-right: $horizontal-unit;
            float: left;
            clear: left;
        
            @media screen and (min-width: $horizontal-unit * 32) {
                margin-left: $horizontal-unit * -3;
            }
        }

        &.right {
            margin-left: $horizontal-unit;
            float: right;
            clear: right;

            @media screen and (min-width: $horizontal-unit * 32) {
                margin-right: $horizontal-unit * -3;
            }
        }
    }
}

.footnotes {
    margin-bottom: $vertical-unit;
    padding: $vertical-unit / 2 - 1 0;
    border: 1px dotted $brand-color;
    border-left: 0;
    border-right: 0;
    color: $grey-color;
    font-size: $small-font-size;

    ol {
        margin-bottom: 0;
    }

    li p {
        margin-bottom: 0;
    }
}

/* Home Page
 *****************************************************************************/
#home {
    max-width: $horizontal-unit * 26;
    margin: $vertical-unit $horizontal-unit * 3;

    @media screen and (min-width: $horizontal-unit * 32) {
        max-width: $horizontal-unit * 20;
        float: left;
    }
}

#latest-posts,
.featured {
    clear: both;
}

.featured > h1 {
    @include modern-type;
    font-size: $base-font-size;
    border-bottom: 1px solid $grey-color-light;
    margin-bottom: $vertical-unit / 2 - 1px;
}

@media screen and (min-width: $horizontal-unit * 32) {
    #post {
        .category {
                width: $horizontal-unit * 2.5;
                float: left;
                padding-right: $horizontal-unit / 2;
                text-align: right;
        }
    
        h1,
        .body {
            padding: 0 $horizontal-unit * 3;
        }
    }
}
