---
layout: default
---
        <main id="archive">
        {% case page.type %}
        {% when 'year' %}
            <h1>{{ page.date | date: "%Y" }}</h1>
        {% when 'month' %}
            <h1>{{ page.date | date: "%B %Y" }}</h1>
        {% when 'day' %}
            <h1>{{ page.date | date: "%B %-d, %Y" }}</h1>
        {% else %}
            <h1>{{ page.title }}</h1>
        {% endcase %}

        {% if page.posts %}
            {% assign posts = page.posts %}
        {% else %}
            {% assign posts = site.posts %}
        {% endif %}
        {% for post in posts %}
            {% include post_long.html %}
        {% endfor %}
        </main>
