---
layout: default
type: home
---
        <main id="home">
            <section id="latest-posts">
            {% for post in site.posts limit:7 %}
                {% if forloop.first %}
                    {% include post_long.html %}
                {% elsif forloop.last %}
                <div class="short-summary">
                    <br /><a class="more-posts" href="/archive#{{ post.url | slugify }}">Read More Posts &#8594;</a>
                </div>
                {% else %}
                    {% include post_short.html %}
                {% endif %}
            {% endfor %}
            </section>

            {% for category in site.categories %}
            <section id="{{ category | first | slugify }}-posts" class="featured">
                <h1>Featured <a class="category" href="/{{ category | first | slugify }}">{{ category | first | capitalize }}</a></h1>

                {% assign posts = category | last | where: 'featured', true %}

                {% for post in posts limit:6 %}
                    {% include post_short.html category="false" %}
                {% endfor %}
            </section>
            {% endfor %}
        </main>
