---
layout: default
type: home
---
		<main id="home">
			{% for post in site.posts %}<!-- limit:5 -->
			<article class="post">
				<header>				
					<a class="category" href="{{ post.category | downcase | prepend: '/' | prepend: site.baseurl }}/">{{ post.category | replace: '-',' ' }}</a>
					<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
					<h1><a href="{{ post.url }}">{{ post.title | markdownify | remove: '<p>' | remove: '</p>' }}</a></h1>
				</header>

				<div class="body">
					{% if post.thumb %}
					<img alt="{{ post.title }}" class="thumb" src="{{ post.thumb | prepend: '/images/posts/' | prepend: site.baseurl }}" />
					{% endif %}

					{{ post.excerpt | strip_html }}
					
					<a class="read-more" href="{{ post.url }}">Read more &#8594;</a>
				</div>
			</article>
			{% endfor %}
		</main>
